.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 1.5px green inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    z-index: 11;
  }
.image-container{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}